# This is a simple wrapper for eng/pipeline.yml to get around the limitation of
# user-defined variables not being available in yaml template expressions.

# Parameters ARE available in template expressions, and parameters can have default values,
# so they can be used to control yaml flow.
#

variables:

  # clean the local repo on the build agents
  Build.Repository.Clean: true


  _PublishUsingPipelines: true
  _DotNetArtifactsCategory: WINDOWSDESKTOP

# only trigger ci builds for the master and release branches
trigger:
- master
- release/3.0
- arcade

# To be added in the future when VSTS supports this feature
# only trigger pull request builds for the master branch
# pr:
# - master

# Call the pipeline.yml template, which does the real work
jobs:
- template: /eng/pipeline.yml
  parameters:
    ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
      # agent pool can't be read from a user-defined variable (Azure DevOps limitation)
      pool:
        name: NetCoreInternal-Pool
        queue: buildpool.windows.10.amd64.vs2019.pre
      # runAsPublic is used in expressions, which can't read from user-defined variables
      runAsPublic: false
    timeoutInMinutes: 120 # how long to run the job before automatically cancelling; see https://github.com/dotnet/wpf/issues/952

