<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <!-- https://github.com/tonerdo/coverlet/issues/618 -->
  <IncludeTestAssembly>true</IncludeTestAssembly>

  <CodeCoverage>
    <Attributes>
      <Exclude>
        <Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
      </Exclude>
    </Attributes>
  </CodeCoverage>
</Configuration>