-SourceToolsList @("policheck","credscan")
-TsaInstanceURL https://devdiv.visualstudio.com/
-TsaProjectName DEVDIV
-TsaNotificationEmail wpf-netcore-dev@microsoft.com
-TsaCodebaseAdmin REDMOND\fabiant
-TsaBugAreaPath "DevDiv\NET Fundamentals\NET Partners\WPF\Security\SDL"
-TsaIterationPath DevDiv
-TsaRepositoryName wpf
-TsaCodebaseName wpf
-TsaPublish $True
